---
---
<header class="site-header">
    <div class="wrapper main-menu">
        <div class="site-branding">
            <a href="/" class="custom-logo-link">
                <img src="/imagenes/nuevo-logo.png" class="custom-logo" alt="INKANTU PERU TRAVEL">
            </a>
            <div id="site-identity" class="desktop-only">
                <h1 class="site-title"><a href="/">INKANTU PERU</a></h1>
                <p class="site-description">Tours en Cusco</p>
            </div>
        </div>

        <button class="menu-toggle" id="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>

        <div class="menu-overlay" id="menu-overlay"></div>
        
        <nav class="menu-main-container" id="mobile-menu">
            <button class="close-menu" id="close-menu"><i class="fas fa-times"></i></button>
            <ul class="nav-menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/tours">Tours</a></li>
                <li><a href="/terminos-condiciones">Términos y Condiciones</a></li>
                <li><a href="/politica-proteccion-datos">Protección de Datos</a></li>
                <li><a href="/mision-vision">Misión y Visión</a></li>
                <li><a href="https://wa.me/51965477510?text=Me%20gustaría%20saber%20mas%20de%20los%20tours" target="_blank">Contáctanos</a></li>
            </ul>
        </nav>
    </div>
</header>
